.container {
  display: flex;
  background-color: skyblue;
  height: 50px;
  .left {
    flex: 6
  }
  .right {
    flex: 4
  }

  .title {
    font-size: 18px;
    font-weight: bold;
    margin-right: 12px;
  }

}